/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background-color: #333;
  background-image: url(../img/triangles-download.svg) ;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}
a:link { /* Essentially means a[href], or that the link actually goes somewhere */
  color: blue;
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
  text-decoration: none;
}
a:active {
  color: red;
}

/*SEARCH*/

.box{
    /*margin: 50px auto;*/
    width: 300px;
    height: 50px;
}

/*search-w*/
.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}


.container-2 input#search{
  width: 120px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 14pt;
  float: left;
  /*color: #262626;*/
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;


}


.container-2 input#search::-webkit-input-placeholder {
  color: #65737e;
}



.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;

  /*///не понял как, но с этим работает*/
  right: 90%;
}


.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}

.container-2:hover input#search{
  width: 300px;
}

.container-2:hover .icon{
  color: #93a2ad;
}



#block {

  padding-left: 30%;
  z-index: 99;
}

#glass {

  background-color: white;
  position: relative;
  /*filter: blur(1px);*/
  opacity: 0.3;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
  /*display: block;*/
  /*position: absolute;*/
  /*content: ' ';*/
}
